{% load static %}

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'catansite/style.css' %}" />
</head>

<body>
	{% if user.is_authenticated %}
		<nav class="navbar navbar-expand-sm navbar-custom">
			<div class="navbar-collapse" id="navbarCustom">
				<ul class = "navbar-nav w-100">
					<li class="nav-item"><a class = "navbar-brand" href="{% url 'leagues' %}">Settlers of Catan</a></li>
					{% if request.path != "/new_league/" and request.path != "/new_game/" %}
						<li class="nav-item active"><a class = "nav-link" href="{% url 'leagues' %}">My Leagues</a></li>
					{% else %}
						<li class="nav-item"><a class = "nav-link" href="{% url 'leagues' %}">My Leagues</a></li>
					{% endif %}
					{% if "/new_league/" == request.path %}
						<li class="nav-item active"><a class = "nav-link" href="{% url 'new_league' %}">New League</a></li>
					{% else %}
						<li class="nav-item"><a class = "nav-link" href="{% url 'new_league' %}">New League</a></li>
					{% endif %}
					{% if "/new_game/" == request.path %}
						<li class="nav-item active"><a class = "nav-link" href="{% url 'new_game' %}">New Game</a></li>
					{% else %}
						<li class="nav-item"><a class = "nav-link" href="{% url 'new_game' %}">New Game</a></li>
					{% endif %}
					<li class ="ml-auto nav-item"><a class="nav-link" href="{% url 'logout' %}"><i>{{ user.username }}</i>, logout</a></li>
				</ul>
			</div>
		</nav>
		{% block navbar %}
		{% endblock %}
	{% endif %}		
	{% block content %}
	{% endblock %}
</body>
