<h1>Games</h1>

<u1>
	{% for game in games %}
		<li>{{ game.played_date }}
		<form action="{% url 'edit_game' game.id %}" method="post">
		{% csrf_token %}
		<script>
			var i = 0;
			document.write("{% for playeringame in game.playeringame_set.all|dictsortreversed:'score' %}<br><select name=\"player_name");
			document.write(i);
			document.write("\"><option value=\"{{ playeringame.player.player_name }}\" selected hidden>{{ playeringame.player.player_name }}</option>{% for player in players %}<option value={{ player.player_name }}>{{ player.player_name }}</option>{% endfor %}</select><select name=\"player_score");
			document.write(i);
			document.write("\"><option value=\"{{ playeringame.score }}\" selected hidden>{{ playeringame.score }}</option>");
			var j;
			for (j = 0; j < 11; j ++) {
				document.write("<option value=");
				document.write(j);
				document.write(">");
				document.write(j);
				document.write("</option>");
			}
			document.write("</select><br>");
			i ++;
			document.write("{% endfor %}");
			while(i < 5){
				document.write("<br><select name=\"player_name");
				document.write(i);
				document.write("\"><option value = \"None\">None</option>{% for player in players%}<option value={{ player.player_name }}>{{ player.player_name }}</option>{% endfor %}</select><select name=\"player_score");
				document.write(i);
				document.write("\"><option value=\"None\">None</option>")
				var j;
				for (j = 0; j < 11; j ++) {
					document.write("<option value=");
					document.write(j);
					document.write(">");
					document.write(j);
					document.write("</option>");
				}
				document.write("</select><br>");				
				i ++;
			}
		</script>
		<br>
		<input type="submit" value="Edit Game" />
		</form>
	{% endfor %}
</ul>