{% extends "leaderboard/base.html" %}

{% block content %}

<h1>New Game</h1>
<form action="{% url 'add_game' %}" method="post">
{% csrf_token %}
<script>
var i;
for (i = 0; i < 5; i ++) {
	document.write("<br><select name=\"player_name");
	document.write(i);
	document.write("\"><option value = \"None\">None</option>{% for player in players%}<option value={{ player.player_name }}>{{ player.player_name }}</option>{% endfor %}</select><select name=\"player_score");
	document.write(i);
	document.write("\"><option value=\"None\">None</option>")
	var j;
	for (j = 0; j < 11; j ++) {
		document.write("<option value=");
		document.write(j);
		document.write(">");
		document.write(j);
		document.write("</option>");
	}
	document.write("</select><br>");
}
</script>
<br>
<input type="submit" value="Add Game!" />
</form>
{% endblock %}